<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" href="/img/Weather1.png">
    <title>ABOUT </title>
  </head>
  <body>
<div class="main-content">
    {{>header}}
    <p> This site was created by Krunal Joshi. It uses data from mapbox.com and darksky.net!</p>
    <img class = "potrait" src="/img/deadpool.jpg">
  </div>
    {{>footer}}
  </body>
</html>
